@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Light Theme */
:root {
  --light-hover: #e6b9f7; /* Light Hover */
  --dark-hover: #2a0040;  /* Dark Hover */
  --dark-theme: #11001F;  /* Dark Theme */
}

/* Dark Theme */
.dark {
  --light-hover: #2a0040;
  --dark-hover: #fcf4ff;
  --dark-theme: #f8f9fa;
}

/* Global Box Shadow */
:root {
  --shadow-black: 4px 4px 0 #947a7a;
  --shadow-white: 4px 4px 0 #fff;
}


@layer utilities {
  .grid-cols-auto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

/* Global Font */
* {
  font-family: Outfit, var(--font-ovo), serif;
}
